################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/routes/routes.js~RF66948f.TMP
